body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #041730, #6580a3, #a1b8d6);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.gallery-image {
    width: 100%;
}
img{
    width: 500px ;
    height: 400px;
}
button {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}
button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.prev {
    left: 10px;
}
.next {
    right: 10px;
}
